[package]
name = "dprint-swc-exts"
version = "0.1.0"
authors = ["David Sherret <dsherret@gmail.com>"]
edition = "2021"
license = "MIT"
description = "View of the swc AST that's easier to navigate."

[package.metadata.docs.rs]
all-features = true

[features]
sourcemap = ["swc_common/sourcemap"]
view = []

[dependencies]
bumpalo = "3.9.1"
num-bigint = "0.4"
rustc-hash = "1.1.0"
swc_atoms = "0.2.11"
swc_common = "0.18.3"
swc_ecmascript = { version = "0.157.0", features = ["parser"] }
text_lines = "0.4.1"

[dev-dependencies]
pretty_assertions = "1.0.0"
