[package]
name = "dprint-swc-ext"
version = "0.11.0"
authors = ["David Sherret <dsherret@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Functionality to make swc easier to work with."

[package.metadata.docs.rs]
all-features = true

[features]
sourcemap = ["swc_common/sourcemap"]
view = []

[dependencies]
bumpalo = "3.13.0"
num-bigint = "0.4"
rustc-hash = "1.1.0"
swc_atoms = "0.5.8"
swc_common = "0.31.21"
swc_ecma_ast = "0.107.7"
swc_ecma_parser = "0.137.15"
text_lines = "0.6.0"

[dev-dependencies]
pretty_assertions = "1.3.0"
