name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: ${{ matrix.config.kind }} ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
            kind: test_release
          - os: ubuntu-latest
            kind: test_debug

    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: full

    steps:
    - uses: actions/checkout@v2
    - name: Cache cargo
      uses: Swatinem/rust-cache@v1

    - name: Install bvm binaries
      uses: bvm/gh-action@v1.1.0

    - name: Ensure code generation same
      if: matrix.config.kind == 'test_debug'
      run: |
        . $BVM_INSTALL_DIR/bin/bvm-init
        cargo install cargo-clone
        rustup toolchain install nightly
        chmod +x ./scripts/generate.sh
        ./scripts/generate.sh
        echo Checking for git changes...
        git diff --no-ext-diff --exit-code

    - name: Build debug
      if: matrix.config.kind == 'test_debug'
      run: cargo build
    - name: Clippy
      if: matrix.config.kind == 'test_debug'
      run: cargo clippy --all-features
    - name: Test debug
      if: matrix.config.kind == 'test_debug'
      run: cargo test

    - name: Build release
      if: matrix.config.kind == 'test_release'
      run: cargo build --release
    - name: Test release
      if: matrix.config.kind == 'test_release'
      run: cargo test --release

    - name: Publish on version change
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
      if: |
        github.repository == 'dprint/dprint-swc-ecma-ast-view' &&
        github.ref == 'refs/heads/main' &&
        matrix.config.kind == 'test_release'
      run: cd crates/swc-ecma-ast-view && deno run -A --no-check https://raw.githubusercontent.com/denoland/automation/0.4.0/tasks/release_on_crate_version_change.ts --publish
