name: release

on:
  workflow_dispatch:
    inputs:
      releaseKind:
        description: 'Kind of release'
        default: 'minor'
        type: choice
        options:
          - patch
          - minor
        required: true

jobs:
  rust:
    name: release
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_DPRINTBOT_PAT }}

      - uses: denoland/setup-deno@v2
      - uses: dsherret/rust-toolchain-file@v1

      - name: Tag and release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_DPRINTBOT_PAT }}
          GH_WORKFLOW_ACTOR: ${{ github.actor }}
        run: |
          git config user.email "dprintbot@users.noreply.github.com"
          git config user.name "dprintbot"
          deno run -A https://raw.githubusercontent.com/denoland/automation/0.19.0/tasks/publish_release.ts --${{github.event.inputs.releaseKind}}
